@inject IJSRuntime JsRuntime

<span class="input-max-notifier">@Message</span>

@code {

    private string _Text;

    [Parameter]
    public string Text
    {
        get { return _Text; }
        set
        {
            _Text = value;
            HandleTextChange(value);
        }
    }

    [Parameter]
    public int MaxLenght { get; set; }

    private string Message { get; set; }

    private void HandleTextChange(string text)
    {
        if (!string.IsNullOrWhiteSpace(text) && MaxLenght > 0)
        {
            var remaining = MaxLenght - Text.Length;
            if (remaining < 0) return;
            Message = $"Total {remaining} of {MaxLenght} charaters is remaining.";
        }
        else
        {
            Message = string.Empty;
        }
    }

}
