@page "/categories"
@using BlazorTodos.Shared
@using BlazorTodos.Server.Data
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@using BlazorTodos.Client.Components
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h1 class="cssanimation fadeIn">Categories</h1>

<p><a href="Categories_Add">Add New Category</a></p>

<Spinner SpinWhile=@(categories == null) />
<CategoriesList Categories=@categories OnListChanged="OnCategoryChangedHandler" OnFilterChanged="FilterHandler" />

@code {
    private TodoCategoryViewModel[] categories;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            categories = await Http.GetFromJsonAsync<TodoCategoryViewModel[]>("/api/todocategories");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    // Call back from the child component so the page can refresh its content or do whatever is needed
    async Task OnCategoryChangedHandler(string message)
    {
        await Task.Delay(1000);
        await OnInitializedAsync();
    }

    // Call back from the child component so the page can filter its content or do whatever is needed
    async Task FilterHandler(string filter)
    {
        await Task.Delay(10);

        try
        {
            var result = await Http.GetFromJsonAsync<TodoCategoryViewModel[]>("/api/todocategories");
            categories = result.Where(t => t.Description.ToLowerInvariant().Contains(filter.ToLowerInvariant())).ToArray();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

    }
}
