@page "/"

<h1>Hello,</h1>

<p>
    This is a sample Todo Application using Blazor. This example is show casing the Authentication, Using 3rd party controls
    e.g. MatBlazor, sample CRUD of Categories and Todoes, Web API integration, custom validation and form submission etc
</p>

<p>
    You need to register/login to view the secure content!!
</p>
