@page "/todoes"
@using BlazorTodos.Server.Data
@using BlazorTodos.Client.Components
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h1>Todoes</h1>

<p><a href="Todos_Add">Add New Todo</a></p>

<Spinner SpinWhile=@(todoes == null) />

<TodoList Todos=@todoes OnListChanged="TodoListChangedHandler" OnFilterChanged="FilterHandler" />

@code {
    private List<TodoViewModel> todoes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await PopulateTodos();
    }

    protected async Task PopulateTodos()
    {
        try
        {
            todoes = await Http.GetFromJsonAsync<List<TodoViewModel>>("/api/todoes");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    // Call back from the child component so the page can refresh its content or do whatever is needed
    async Task TodoListChangedHandler(string message)
    {
        await Task.Delay(1000);
        //Console.WriteLine(message);
        await PopulateTodos();
    }

    // Call back from the child component so the page can filter its content or do whatever is needed
    async Task FilterHandler(string filter)
    {
        await Task.Delay(10);

        try
        {
            var result = await Http.GetFromJsonAsync<List<TodoViewModel>>("/api/todoes");
            todoes = result.Where(t => t.Description.ToLowerInvariant().Contains(filter.ToLowerInvariant())).ToList();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

    }

}
